{% extends "pages/base.html" %} {% block content %} {% for post in posts %}
<div class="card">
    <div class="card_header">
        <div class="profile_image">

        </div>
        <div class="post_info">
            <div class="post_name"> {{post.author}}</div>
            <div class="post_location">Panama</div>
        </div>

        <div class="post_options"> <button data-toggle="modal" data-target="#menu_modal"><a ><i class="fas fa-ellipsis-h"></i></a></button></div>
    </div>
    <div class="modal" id="menu_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <ul class='list-unstyled menu'>
                    <li><a class="text-reset" href="{% url 'leon:post_update' post.id %}">Edit</a></li>
                    <li><a class="text-reset" href="{% url 'leon:post_delete' post.id %}">Delete</a></li>
                    <li><a class="text-reset" href="{% url 'leon:post_detail' post.id %}">Details</a></li>
                    <li><a class="text-reset close" data-dismiss="modal" href="">Cancel</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="post_image">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt=""> {% endif %}
    </div>
    <div class="engage">
        <a href=""><i class="fa fa-heartbeat" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-comment" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-share-alt" aria-hidden="true"></i> </a>
        <a href=""><i class="fa fa-bookmark" aria-hidden="true"></i></a>
    </div>
    <div class="likes">
        <a href="">345</a>
    </div>
    <div class="caption">
        <a href="">
            <h3>{{post.author}}</h3>
        </a>
        <span> <p>{{post.caption}}</p></span>
    </div>
    <div class="time_posted">
        {{post.created_period | timesince }} ago
    </div>

</div>
{% include "pages/menu_modal.html" %} {% endfor %} {% endblock content %}